@font-face {
  font-family: "Digital";
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7")
      format("svg");
}
body {
  font-family: "Righteous";
}

.app {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
}

.options {
  width: 600px;
  display: flex;
  justify-content: space-evenly;
}

.control {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.timer {
  margin-top: 60px;
  border: 3px solid #f2f2f2;
  border-radius: 50px;
  padding: 40px;
}

#time-left {
  font-family: "digital";
  font-size: 10vh;
}
